.button{
  border-style: none;
  border-radius: 5px;
  height: 40px;
  padding: 6px 12px;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow 3s ease;
}

.button.blue{
  background-color: #336162;
}

.button:hover{
  box-shadow: inset 300px 0 0 #eaefed55;
}

.button.editar {
  background-color: rgb(8, 73, 28);
}

.button.excluir{
  background-color: #640c0c;

}

@media(max-width:480px){
  .button.mobile{
    color:transparent;
    font-size: 0;
    width:50px;
    height: 50px;
    border-radius: 50%;
    position:fixed;
    top: 90vh;
    left: 80vw;
  }
  .button.mobile::before{
    content: "+";
    color:#000;
    font-size: 2rem;
    width:100%;
    height:100%;
  }
}
